---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="{name: 'jeff'}">
    <button @click="">Click</button>
</div>
<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" />