---
layout: layout.liquid
title: 11ty Boilerplate
---


<div x-data="nameGenerator()" class="text-center">
     <h1><strong><span x-text="currentName"></span></strong> is volunteered as tribute</h1>
     <button @click="pickName()" class="btn btn-primary">Choose a Tribute</button>
</div>

<script>
  function nameGenerator() {
    return {
      names: ['Katniss','Peeta','Gale','Haymitch','Primrose','Cato','Effie','Finnick','Cinna','President Snow'],
      currentName: 'Someone',
      pickName() {
        this.currentName = this.names[Math.floor(Math.random() * this.names.length)]
      }
    }
  };
</script>


