---
layout: layout.liquid
title: 11ty Boilerplate
---


<div x-data="nameGenerator()">
     <button @click="pickName()">Choose a Tribute</button>
     <h1><span x-text="currentName"></span> is volunteered as tribute</h1>
</div>


