body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(70, 117, 218) 0%, rgb(45, 166, 253) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}